<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/silverstripe/framework/tests/bootstrap.php" colors="true">
    <!-- Core SilverStripe modules (except framework) -->
    <testsuites>

        <testsuite name="mfa">
            <directory>vendor/silverstripe/mfa/tests</directory>
            <directory>vendor/silverstripe/totp-authenticator/tests</directory>
            <directory>vendor/silverstripe/webauthn-authenticator/tests</directory>
            <directory>vendor/silverstripe/login-forms/tests</directory>
        </testsuite>

    </testsuites>
</phpunit>
